.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: #5b59dc;
  text-align: center;
  color: white;
}

.header ul {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

.header ul li {
  list-style: none;
  text-transform: uppercase;
}

.header a {
  color: whitesmoke;
  text-decoration: none !important;
}
.header a:hover {
  color: lawngreen;
}
